# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_token: 8e629ab66cec9c6959cbb8fdcd5eecbc9a4c72ca7cedc0794985ba9b9c33d3727c8b0ac3334616b7737d230524a45d70240f74cfd7cd7257100f516adf661244
  secret_key_base: fbfca1c3c1e62f0b56a5bf8b1c8bd3c3dfca90a5873de73cd947126c44afaf39de4e013d05e3bfb10431863c207a5c0db865d4195acef26c65702670cef544de

test:
  secret_token: 24f1b3a42b26f3e6131cb2f5f00bacb67dc918ea60208da62ff5a11a27e265d62509d2a0f3e174cf465f160995573df218178aac40feb9c7feaea6b0125b6c39
  secret_key_base: d0b332398adb436e6a352c52738bca32997144e055a7f609d4765da5cb57d5bd98a466aa5bbfc92b5545a48aa6199713b8b4db01f46a544db2f0a819fb2b0bef

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
